*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.html
data/*
plots/*
out/*
!data/otterDat.rds
!data/map_fr.rds
!data/landscape.rds
!data/preyData.rds
!data/samplingEffort.rds
.Rproj.user
src/open_datafiles/*
src/read_data.R
src/extract_GMB_data.R
src/get_landscape.R
src/get_preyAvail.R
